@font-face {
  font-family: 'Coustard-Regular';
  src: url('./assets/fonts/Coustard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Coustard-Black';
  src: url('./assets/fonts/Coustard-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}