@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

h2 {
  font-family: Coustard-Regular;
  font-size: 16px;
  font-weight: 500;
  color: $white;

  @include mobile {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
}

.header {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    text-decoration: none;
    font-family: Coustard-Black;
    font-size: 18px;
    color: $white;

    display: flex;
    flex-direction: row;

    padding: 1rem;
    padding-left: 3rem;

    &__image {
      width: 32px;
      margin-right: 0.5rem;
    }

    &__title {
      margin: 0;
    }
  }

  &__nav {
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;

    &__features {
      display: flex;
      align-items: center;
    }

    &__signin {
      background-color: $blue;
      border: none;
      cursor: pointer;

      display: flex;
      align-items: center;
      height: 2rem;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
      padding: 0;
    }
  }
}