@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

a {
  text-decoration: none;
}

h4 {
  font-family: Coustard-Regular;
  font-size: 16px;
  font-weight: 500;
  color: $white;
}

.user-calendar {
  background-color: $white;
}

.user-page {
  margin: 5rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      font-size: 38px;
      margin: 0;
      padding-bottom: 3rem;
    }

    &__button {
      background-color: $blue;
      border: none;
      cursor: pointer;

      display: flex;
      align-items: center;
      height: 2rem;
      border-radius: 10px;
      padding: 1.25rem;
    }
  }

  @include mobile {
    margin: 1rem;

    &__header {
      display: flex;
      flex-direction: column;

      &__title {
        padding-bottom: 1.5rem;
      }

      &__button {
        height: 3rem;
        margin-bottom: 2rem;
      }
    }
  }
}